<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.innouni.south.activity"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk 
        android:minSdkVersion="8" 
    	android:targetSdkVersion="19" />

    <application
        android:name="com.innouni.south.app.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo72"
        android:label="@string/app_name" 
        android:theme="@style/ThemeActivity">
        
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".GuideActivity" />
       	<activity android:name=".MainActivity" />
     	<activity android:name=".RegisterActivity" />
    	<activity android:name=".LoadActivity" />
    	<activity android:name=".UserCenterActivity" />
    	<activity android:name=".ServerActivity" />
     	<activity android:name=".ModifyPwdActivity" />
       	<activity android:name=".ModifyEmailActivity" />
       	<activity android:name=".ModifyPhoneActivity" />
       	<activity android:name=".GetPwdBackActivity" />
       	<activity android:name=".RateExchangeActivity" android:windowSoftInputMode="adjustResize" />
    	<activity android:name=".AboutActivity" />
    	<activity android:name=".FeedBackActivity" android:windowSoftInputMode="adjustResize" />
    	<activity android:name=".AppInfoActivity" />
    	<activity android:name=".EconomicCalendarGroupActivity" android:theme="@style/GroupActivity" />
    	<activity android:name=".EconomicCalendaActivity" />
    	<activity android:name=".MarketIndexActivity" />
    	<activity android:name=".MarketNewsActivity" />
    	<activity android:name=".NewsDetailActivity" />
    	
    	<!-- 新浪微博分享 -->
    	<activity android:name=".ShareAppActivity">
    		<intent-filter >
				<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />    		
          	</intent-filter>
       	</activity>
    	
    	<activity android:name=".ShareTencentWeiboActivity" />
        <!-- 騰訊微博授權 -->
    	<activity android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView" />
    	
    	<activity android:name=".ShareRenrenActivity" />
      	<!-- 人人授权 -->
    	<activity 
    		android:name="com.renn.rennsdk.oauth.OAuthActivity"
			android:configChanges="orientation|navigation|keyboardHidden"/>
    	
    	<!-- QQ授权 -->
    	<activity
			android:name="com.tencent.tauth.AuthActivity"
	 		android:noHistory="true"
			android:launchMode="singleTask" >
			<intent-filter>
	   			<action android:name="android.intent.action.VIEW" />
	   			<category android:name="android.intent.category.DEFAULT" />
	   			<category android:name="android.intent.category.BROWSABLE" />
	   			<data android:scheme="tencent100560437" />
			</intent-filter>
		</activity>
    	
    </application>
    
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />	
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READER_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
 	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
 	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
 	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
</manifest>